* {
  box-sizing: border-box;
}
body {
  background-color: #eef9bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 65.63px;
    letter-spacing: -0.004em;
    text-align: center;
    color: #75b79e;
    margin: 60px 0 20px 0;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.carta {
  width: 117px;
  height: 146px;
  margin: 34px 10px 10px 10px;
  position: relative;
}

.carta img {
  width: 100px;
  height: 100px;
}

.face-carta {
  width: 100%;
  height: 100%;
  background-color: #a7e9af;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #75b79e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.verso {
  transform: rotateY(180deg);
}

.carta.selecionado .verso {
  transform: rotateY(0deg);
}

.carta.selecionado .frente {
  transform: rotateY(-180deg);
}
